<mat-toolbar color="primary" class="mat-elevation-z10">
	<mat-toolbar-row>
		Webrfc
	</mat-toolbar-row>
	<mat-toolbar-row>
		<button mat-icon-button (click)="sidenav.toggle()"><mat-icon>reorder</mat-icon></button>
	</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav  mode="push" class="app-sidenav">
 		<mat-button-toggle-group #group="matButtonToggleGroup" 
 														 fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start start">
	    <button mat-button style="width: 100%;" 
	    									 *ngFor="let sidenavButton of sidenavButtons; let i = index;"
	    									 (click)="buttonClick(i)"
	    									  [routerLink]="['/data-table']">
	    	{{sidenavButton}}
	    </button>
    </mat-button-toggle-group>
  </mat-sidenav>
  <mat-sidenav-content>
		<app-data-table [title]="sidenavButtons[selectedItem]"></app-data-table>
	</mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
